header {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    font-size: 28px;
  }

  nav {
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-items: baseline;

    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      margin-left: 280px;

      @media (max-width: 700px) {
        margin-left: 0;
        flex-direction: column;
      }
    }

    li {
      margin: 0 10px;
    }
    .utility {
      display: flex;
      justify-content: space-evenly;

      input {
        
      }
        div {
          cursor: pointer;
        }
        img {

        }
    }
  }
}
