.cart-box {
  height: auto;
  width: 550px;
  position: absolute;
  background: #c8c8c8;
  right: 5px;
  top: 138px;
  visibility: hidden;
  opacity: 0;
  padding: 20px;

  .close {
    text-align: end;
  }


  .cloth-box {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;

    .img-name-box {
      display: flex;

      img {
        width: 100px;
        height: auto;
      }
      
      span {
        font-size: 20px;
        padding: 10px;
        height: 50px;
        align-self: baseline;
      }
    }
    
    span {
      align-self: flex-end;
      padding-right: 10px;
    }
  }
  
  .finish-box {
    padding: 15px;
    font-weight: bold;

    button {
      background: #000000 0% 0% no-repeat padding-box;
      cursor: pointer;
      color: white;
      width: 100%;
      height: 40px;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}