.cloths-wrapper {


  flex-direction: row;
  display: flex;
  flex-flow: wrap;

  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
}


.cloth-container {
  height: 820px;
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 50px;


  .img-wrapper {
    
    img {
      width: 480px;
      max-height: 720px;
    }
  }

  .info-wrapper {
    max-height: 92px;
    padding: 5px;
    text-align: left;
    font: normal normal 300 13px/17px Futura Lt BT;
    letter-spacing: 0px;


    p {
      text-align: left;
      font: normal normal 300 13px/17px Futura Lt BT;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }

    .price {
      display: flex;
      width: 250px;
      
      .price-first {
        margin-right: 10px;
        font: normal normal bold 12px/17px Futura Md BT;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 15px;
      }
    }

    button {
      border: 2px solid #000000;
      opacity: 1;
      background: white;
      padding: 6px 16px;
      border-radius: 1px;
      font-size: 12px;
    }
  }
}