.margin {
  height: 20px;
  width: 100%;
  background-color: #f6f6f6;
}

.intern-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 100px;


  .images-wrapper {
    display: flex;
    flex-wrap: wrap;

    img {
      max-width: 600px;
      height: 900px;
    }
  }

  .infos-wrapper {
    padding-top: 50px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;

    .info-ref {
      text-align: left;
      font: normal normal 300 10px Futura;
      letter-spacing: 0px;
      color: #575757;
    }

    .info-title {
      text-align: left;
      font: normal normal 300 16px/20px Futura;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }

    .price-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      width: 320px;

      :first-child {
        font-weight: bold;
      }
    }

    .heigth-content {
      margin-top: 20px;
      border-top: 1px solid #ededed;
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 400px;
  

      label {
        text-align: left;
        font: normal normal 300 15px Futura Lt BT;
        letter-spacing: 0px;
        padding-right: 30px;
      }
      .height-box {
        
      }
    }

    button {
      background: #000000 0% 0% no-repeat padding-box;
      cursor: pointer;
      color: white;
      width: 400px;
      height: 40px;
      font-weight: bold;
      margin-top: 40px;
    }
  }
}